<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Messageboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Messageboard</h1>
    <div id="messagesContainer">
      <% messages.forEach((message) => { %>
        <span class="message">
          <span class="messageHeader">
            <p class="name"><%= message.username %></p>
            <p class="dateTime"><%= message.date.toLocaleString() %></p>
          </span>
          <p class="messageText"><%= message.message %></p>
        </span>
      <% }); %>
    </div>
    <form id="newMessage" method="POST" action="/new">
      <label for="newMessageName">Name: <input name="newMessageName" id="newMessageName" type="text"/></label>
      <label for="newMessageText">Message: <textarea name="newMessageText" id="newMessageText" type="text"></textarea></label>
      <button type="submit">SEND</button>
    </form>
    <script src="/javascripts/newMessage.js"></script>
  </body>
</html>
