body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
  margin: 10px;
}

.name {
  font-weight: 700;
}
#newMessage {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  > label {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 50%;
  }
  input {
    width: 50%;
  }
  #newMessageText {
    height: 10vh;
  }  
}